<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.scss">
</head>
<body>
    <main>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/first">First API</a>
                </li>
                <li>
                    <a href="/third">Third API</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <footer>
        <p>Copyright &copy; 2022 | Hope Hacks Group</p>
        <a href="https://www.facebook.com/">
            <img class="logo" src="/images/facebook.jpeg"alt="facebook-logo">
        </a>
        <a href="https://www.linkedin.com/">
            <img class="logo" src="/images/linkedin.jpeg" alt="linkedin-logo">
        </a>
        <a href="https://www.instagram.com/">
            <img class="logo" src="/images/instagram.jpeg" alt="instagram-logo">
        </a>
        <a href="https://twitter.com/">
             <img class="logo" src="/images/twitter.jpeg" alt="twitter-logo">
        </a>
    </footer>

    </main>
    <script src="../assets/script.js"></script>
</body>
</html>