* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #B5BAD0;
  font-family: Helvetica, sans-serif;
}
nav {
  width: 100%;
  background-color: #7389AE;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
li {
  margin: 1rem;
}

li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f7f7ff;
  border: solid 2px black;
  padding: 1rem;
}
li a:hover {
  color: #151515;
  background-color: #416788;
}
li a:active {
  background-color: #5A789B;
}
footer {
  margin: 0;
  width: 100%;
  text-align: center;
}
.wrapper {
  padding: 1rem;
}
.wrapper .courses .course_card {
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  padding: 10px;
}
.wrapper .courses .course_card:hover {
  box-shadow: 0 3px rgb(22, 22, 21);
}
.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 2rem;
}
.logo {
  height: 50px;
}
img {
  max-width: 100%;
}
.course form {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 30px;
  margin-bottom: 200px;
}
.course form p {
  padding: 2rem;
}
.course form p select {
  width: 200px;
  font-size: 30px;
}
.course form p input {
  width: 200px;
  font-size: 30px;
}
.course form p input {
  width: 200px;
}
.form-submit-button {
  background: #416788;
  color: white;
  border-style: outset;
  border-color: #416788;
  height: 30px;
  width: 200px;
  text-shadow: none;
  cursor: pointer;
}
.error {
  font-size: 120px;
  padding-left: 550px;
}
.courseform {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #7389AE;
}
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  #myForm {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }
}
