html {
  overflow-x: hidden;
}
nav {
  width: 100%;
  background-color: #3b429f;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
li {
  margin: 1rem;
}

li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f7f7ff;
  border: solid 2px black;
  padding: 1rem;
}
li a:hover {
  color: #151515;
  background-color: #aa7dce;
}
li a:active {
  background-color: #a8577e;
}
footer {
  // position:absolute;
  // bottom:0;
  margin: 0;
  width: 100%;
  text-align: center;
}
main {
  text-align: center;
  min-height: calc(100vh - 299.6px);
  // margin: 0 0 1rem 0;
  padding-bottom: -90.8px;
}
#heroImage {
  // background-image: ;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
#heroImage figure {
  margin: auto;
  position: relative;
}
#heroImage img {
  margin: auto;
  filter: contrast(0.5);
  // filter:blur(4px);
  // height: 500px;
  width: clamp(400px, 100vw, 800px);
}
#heroText {
  margin: auto;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem;
  // color:#151515;
  // text-shadow: 1px 2px #F7F7FF;
  color: #f7f7ff;
  text-shadow: 1px 2px #151515;
}

#heroText h2 {
  // padding:1rem 1rem 1.5rem 1rem;
  margin: auto 0 1rem 0;
}
#heroText a {
  background: #a8577e;
  color: #f7f7ff;
  text-decoration: none;
  padding: 1rem;
  margin: 0;
}
.logo {
  height: 50px;
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#cityOption {
  height: 44px;
  border: none;
  overflow: hidden;
}
#cityOption::-moz-focus-inner {
  border: 0;
}

#cityOption:focus {
  outline: none;
}
#cityOption option {
  width: 60px;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border: rgb(204, 204, 0) solid 1px;
  border-radius: 5px;
  color: rgb(204, 204, 0);
}