nav {
  width:100%;
  background-color:#3e66ca;
}

ul {
  display:flex;    
  flex-direction:row;
  list-style:none;
  justify-content: center;
}
li{
  margin: 1rem;
}

li a {
  text-decoration:none;
  font-size:1.5rem;
  color:white;
  border: solid 2px black;
  padding: 1rem;
  
}
a:hover{
  color:black;
  background-color:#223566
}
footer{
  width:100%;
  text-align:center;
}
main{
  text-align: center;
}
#heroImage{
  // background-image: ;
}