<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.scss">
</head>
<body>
    <main>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/first">Home</a>
                </li>
                <li>
                    <a href="/third">Schools</a>
                </li>
                <li>
                    <a href="/about">Courses</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="aboutUs">
        <h1>About US</h1>
            <p>ThinkHub is an organization that stands for education equality. We were founded to bring awareness to and fight against education inequality. We acknowledge that education is a pathway to progress through which young people acquire the skills, knowledge, and experiences to obtain good jobs and prosperous futures.</p>
    </section>
    <div class="contentSection">
        <section class="ourMission">
            <h2> Our Mission </h2>
                <p>Combat the education inequality in America.We strive to ensure that every child is prepared to learn and succeed in the classroom by providing resources to students and parents most in need.
            </p>
        
    </div>
    <section class="meetUs">
      <h3> Meet the Team</h3>
      <ul>
        <li>Jules Bernal Benitez <br><span>Chief Executive Officer</span></li>
        <li>Governor Brown <br><span>Public Relations Director</li>
        <li>Thierno Sissoko <br><span>Chief Operating Officer</li>
        <li>Dante Huggins <br><span>Director of Marketing</li>
      </ul>
    </section>
   </main> 
   <footer>
        <p>Copyright &copy; 2022 | ThinkHub </p>
        <a href="https://www.facebook.com/">
            <img class="logo" src="/img/facebook.png"alt="facebook-logo">
        </a>
        <a href="https://www.linkedin.com/">
            <img class="logo" src="/img/linkedin.png" alt="linkedin-logo">
        </a>
        <a href="https://www.instagram.com/">
            <img class="logo" src="/img/instagram.png" alt="instagram-logo">
        </a>
        <a href="https://twitter.com/">
             <img class="logo" src="/img/twitter.png" alt="twitter-logo">
        </a>
    </footer> 
    <script src="/js/script.js"></script>
</body>
</html>