<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
        <header>
            <nav>
                
                <ul>
                    <img src="/img/lightbulb.png" alt="">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/schools">Schools</a>
                    </li>
                    <li>
                        <a href="/third">Courses</a>
                    </li>
                    <li>
                        <a class="active" href="/about">About</a>
                    </li>
                    <li>
                      <a href="/calendar">Calendar</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

    <main>
        <section id="heroImage">
            <figure>
                <img class="fade slides" src="/img/slideshow/tutor.jpg" alt="parents tutoring child">
                <img class="fade slides" src="/img/slideshow/library2.jpg" alt="library shelves">
                <img class="fade slides" src="/img/slideshow/students.jpg" alt="young students in class">
            </figure>
    </section>
    </header>
    
    <div class="contentSection">
        <article class="aboutUs text">
            <h1>About US</h1>
                <p>ThinkHub is an organization that stands for education equality. We were founded to bring awareness to and fight against education inequality. We acknowledge that education is a pathway to progress through which young people acquire the skills, knowledge, and experiences to obtain good jobs and prosperous futures.</p>
        </article>
        <article class="ourMission text">
            <h2> Our Mission </h2>
                <p>Combat the education inequality in America.We strive to ensure that every child is prepared to learn and succeed in the classroom by providing resources to students and parents most in need.
            </p>
        </article>
        <article class="meetus text">
            <h2>Meet the team!</h2>
            <p>These four individuals recognized the lack of equality in education and decided to do something about it. Through their efforts ThinkBeyond Inc was founded.</p>
        </article>
   </div>
    <article class="people">
        <section class="person" class="Jules">
            <img src="/img/jules.jpg" alt="headshot of jules">
            <h2>Jules Bernal Benitez </h2>
            <p><strong>Executive Officer</strong></p>
        </section>
        <section class="person" class="Governor">
            <img src="/img/gov.jpg" alt="headshot of Governor">
            <h2>Governor Brown</h2>
            <p><strong>Relations Director</strong></p>
        </section>
        <section class="person" class="Thierno">
            <img src="/img/thierno.jpg" alt="headshot of Thierno">
            <h2>Thierno Sissoko</h2>
            <p><strong>Chief Operating Officer</strong></p>
        </section>
        <section class="person" class="Dante">
            <img src="/img/dante.jpg" alt="headshot of dante">
            <h2>Dante Huggins</h2>
            <p><strong>Director Of Marketing</strong></p>
        </section>
    </article>
    </main>
   <footer>
        <p>Copyright &copy; 2022 | ThinkBeyond Inc.</p>
        <a href="https://www.facebook.com/"><img class="logo" src="/img/facebook.png"alt="facebook-logo"></a>
        <a href="https://www.linkedin.com/"><img class="logo" src="/img/linkedin.png" alt="linkedin-logo"></a>
        <a href="https://www.instagram.com/"><img class="logo" src="/img/instagram.png" alt="instagram-logo"></a>
        <a href="https://twitter.com/"><img class="logo" src="/img/twitter.png" alt="twitter-logo"></a>
    </footer> 
    <script src="/js/slideshow.js"></script>
</body>
</html>