<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/first">Schools</a>
                    </li>
                    <li>
                        <a href="/third">Courses</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

    <main>
        <section class="meetus">
            <h2>Meet the team!</h2>
            <p>These individuals came together to make all of this possible.</p>
        </section>
        <section class="Jules">
            <img src="https://media-exp2.licdn.com/dms/image/C5603AQFV1F3TfhtGwQ/profile-displayphoto-shrink_400_400/0/1655306082928?e=1662595200&v=beta&t=IiXRwzU2i4Us1jPGWFD3QzhnRkVPnVXNen4-L_q-0CM" alt="">
            <h2>Jules Bernal Benitez </h2>
            <p><strong>Executive Officer</strong></p>
        </section>
        <section class="Governor">
            <img src="https://media-exp2.licdn.com/dms/image/C5603AQFolqQWJpv5Kg/profile-displayphoto-shrink_400_400/0/1652565961212?e=1662595200&v=beta&t=HvPGRTETVpU1eOt9nxMHu6zkkRXF1KdC9UdIlq3P2Lw" alt="">
            <h2>Governor Brown</h2>
            <p><strong>Relations Director</strong></p>
        </section>
        <section class="Thierno">
            <img src="https://media-exp2.licdn.com/dms/image/C5603AQGTJ4G-J13ymA/profile-displayphoto-shrink_400_400/0/1655417339651?e=1662595200&v=beta&t=JvB_5Z0Hinzt1HEUgyFsViO79ARPmfpfoIjOpxH3iuo" alt="">
            <h2>Thierno Sissoko</h2>
            <p><strong>Chief Operating Officer</strong></p>
        </section>
        <section class="Dante">
            <img src="https://media-exp2.licdn.com/dms/image/C5603AQEhBg91m5lJ4w/profile-displayphoto-shrink_400_400/0/1656548020869?e=1662595200&v=beta&t=aZf8jgO88jGXOFICKqzZphgXRcyr3QqUfPOY_HB7els" alt="">
            <h2>Dante Huggins</h2>
            <p><strong>Director Of Marketing</strong></p>
        </section>
        </main>
   <footer>
        <p>Copyright &copy; 2022 | ThinkHub </p>
        <a href="https://www.facebook.com/">
            <img class="logo" src="/img/facebook.png"alt="facebook-logo">
        </a>
        <a href="https://www.linkedin.com/">
            <img class="logo" src="/img/linkedin.png" alt="linkedin-logo">
        </a>
        <a href="https://www.instagram.com/">
            <img class="logo" src="/img/instagram.png" alt="instagram-logo">
        </a>
        <a href="https://twitter.com/">
             <img class="logo" src="/img/twitter.png" alt="twitter-logo">
        </a>
    </footer> 
    <script src="/js/script.js"></script>
</body>
</html>