<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="active" href="/schools">Schools</a>
                </li>
                <li>
                    <a href="/third">Courses</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                  <a class="active" href="/calendar">Calendar</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

<main>
    <h2>Calendar & Admin tools</h2>
    <form style="text-align:center;" method="POST" action="/calendarPOST">
            <label for="searchBox">Enter Date</label>
            <input
                type="date"
                name="date"
                id="searchBox"
                min="2022-07-05"
                max="2023-12-31"
                required
            />
        <label for="searchBox2">Enter Event Name</label>
            <input
                type="text"
                name="eventName"
                id="searchBox2"
                placeholder="Enter Event name"
                required
            />
        <input
            type="submit"
            id="submitButton"
            value="Search"
        />
    </form>
    <a href="/calendar">Log out</a>
    <div class="wrapper">
        <div class="schoolDiv">
            <ol>
          <% if( result != null){ %> 
           <% Object.keys(result).forEach(function(num){ %>
            <li class="calendar">
            <p> <%-result[num].date %> - <%-result[num].event%> </p>
          </li>
          <% }) %> <% } else {%>
          <div class="error">No Calendars found</div>
          <%} %>
        </ol>
        </div>
      </div>
</main>
    <footer>
        <p>Copyright &copy; 2022 | Hope Hacks Group</p>
        <a href="https://www.facebook.com/"><img class="logo" src="/img/facebook.png"alt="facebook-logo"></a>
        <a href="https://www.linkedin.com/"><img class="logo" src="/img/linkedin.png" alt="linkedin-logo"></a>
        <a href="https://www.instagram.com/"><img class="logo" src="/img/instagram.png" alt="instagram-logo"></a>
        <a href="https://twitter.com/"><img class="logo" src="/img/twitter.png" alt="twitter-logo"></a>
    </footer>
    <script src="/js/slideshow.js"></script>
</body>
</html>