<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/first">Schools</a>
                </li>
                <li>
                    <a href="/third">Courses</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="heroImage">
                <figure>
                    <img class="fade slides" src="/img/slideshow/classroom.jpg" alt="classroom of children">
                    <img class="fade slides" src="/img/slideshow/classroom2.jpg" alt="classroom of young adults">
                    <img class="fade slides" src="/img/slideshow/classroom4.jpg" alt="classroom of children">
                    <article id="heroText">                            
                        <h2>Welcome to our website</h2>
                        <a href="/first">Learn today!</a>
                    </article>
                </figure>
                    <!-- <h2>Welcome to our website</h2>
                    <a href="/first">Learn today!</a> -->
        </section>
    </main>
    
    <footer>
        <p>Copyright &copy; 2022 | ThinkHub </p>
        <a href="https://www.facebook.com/">
            <img class="logo" src="/img/facebook.png"alt="facebook-logo">
        </a>
        <a href="https://www.linkedin.com/">
            <img class="logo" src="/img/linkedin.png" alt="linkedin-logo">
        </a>
        <a href="https://www.instagram.com/">
            <img class="logo" src="/img/instagram.png" alt="instagram-logo">
        </a>
        <a href="https://twitter.com/">
             <img class="logo" src="/img/twitter.png" alt="twitter-logo">
        </a>
    </footer>

    <script src="/js/slideshow.js"></script>
    <!-- <script src="server.js"></script> -->
</body>
</html>