<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="active" href="/schools">Schools</a>
                </li>
                <li>
                    <a href="/third">Courses</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                  <a href="/calendar">Calendar</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

<main>
    <h2>Find a list of schools from our partner cities!</h2>
    <form style="text-align:center;" method="POST" action="/firstAPI">
        <label for="cityOption">Choose your City</label>
            <select name="cityQuery"id="cityOption" >
                <option value="houston">Houston</option>
                <option value="atlanta">Atlanta</option>
                <option value="charlotte">Charlotte</option>
                <option value="richmond">Richmond</option>
            </select>
        <label for="schoolType">Choose Schools Type</label>
            <select name="schoolType" id="schoolType">
                <option value="elementarySchool">Elementary</option>
                <option value="middleSchool">Middle</option>
                <option value="highSchool">HighSchool</option>
                <option value="college">College</option>
            </select>
        <input
            type="submit"
            id="submitButton"
            value="Search"
        />
    </form>
</main>
    <footer>
        <p>Copyright &copy; 2022 | ThinkBeyond Inc</p>
        <a href="https://www.facebook.com/"><img class="logo" src="/img/facebook.png"alt="facebook-logo"></a>
        <a href="https://www.linkedin.com/"><img class="logo" src="/img/linkedin.png" alt="linkedin-logo"></a>
        <a href="https://www.instagram.com/"><img class="logo" src="/img/instagram.png" alt="instagram-logo"></a>
        <a href="https://twitter.com/"><img class="logo" src="/img/twitter.png" alt="twitter-logo"></a>
    </footer>
    <script src="/js/slideshow.js"></script>
</body>
</html>