<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/first">Schools</a>
                </li>
                <li>
                    <a href="/third">Courses</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

<main>
    <form style="text-align:center;" method="POST" action="/firstAPI">
        <label for="cityOption">Choose your City</label>
            <select name="cityQuery"id="cityOption" >
                <option value="houston">Houston</option>
                <option value="atlanta">Atlanta</option>
                <option value="charlotte">Charlotte</option>
                <option value="richmond">Richmons</option>
            </select>
        <label for="schoolType">Choose Schools Type</label>
            <select name="schoolType" id="schoolType">
                <option value="--">None</option>
                <option value="elementary">Elementary</option>
                <option value="middleSchool">Middle</option>
                <option value="highSchool">HighSchool</option>
                <option value="university">University</option>
            </select>
        <input
            type="submit"
            id="submitButton"
            value="Search"
        />
    </form>
</main>
    <footer>
        <p>Copyright &copy; 2022 | Hope Hacks Group</p>
        <a href="https://www.facebook.com/%22%3E
            <img class="logo" src="../images/facebook.jpeg" alt="facebook-logo">
        </a>
        <a href="https://www.linkedin.com/%22%3E
            <img class="logo" src="../images/LinkedIn.jpeg" alt="linkedin-logo">
        </a>
        <a href="https://www.instagram.com/%22%3E
            <img class="logo" src="../images/instagram.jpeg" alt="instagram-logo">
        </a>
        <a href="https://twitter.com/%22%3E
             <img class="logo" src="../images/twitter.jpeg" alt="twitter-logo">
        </a>
    </footer>
    <script src="/js/slideshow.js"></script>
</body>
</html>