<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/courses.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/schools">Schools</a>
          </li>
          <li>
            <a href="/third">Courses</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="course">
      <form action="/" id="myForm" method="POST">
        <p>
          <label for="searchBox">COURSE</label>
          <input
            type="text"
            name="course"
            id="searchBox"
            placeholder=""
            required
          />
        </p>
        <p>
          <label for="pricingOptions">PRICING</label>
          <select id="pricingOptions" name="price">
            <option value="--"></option>
            <option value="price-paid">Paid</option>
            <option value="price-free">Free</option>
          </select>
        </p>
        <p>
          <label for="language">LANGUAGE</label>
          <select id="language" name="language">
            <option value="--"></option>
            <option value="en">English</option>
            <option value="fr">French</option>
          </select>
        </p>
        <p>
          <label for="durationOptions">DURATION</label>
          <select id="durationOptions" name="duration">
            <option value="--">None</option>
            <option value="short">Short</option>
            <option value="long">Long</option>
            <option value="medium">Medium</option>
            <option value="extraLong">ExtraLong</option>
          </select>
        </p>
        <p>
          <label for="SearchOrder">Order By :</label>
          <select id="searchOrder" name="order">
            <option value="--">Default</option>
            <option value="relevance">Relevance</option>
            <option value="most-reviewed">Most Reviewed</option>
            <option value="highest-rated">Highest Rated</option>
            <option value="newest">Newest</option>
            <option value="price-low-to-high">Price Low To High</option>
            <option value="price-high-to-low">Price High To Low</option>
          </select>
        </p>
        <button class="form-submit-button">Submit</button>
      </form>
    </section>
    <footer>
      <p>Copyright &copy; 2022 |Hope Hacks Group</p>
      <a href="https://www.facebook.com/">
        <img class="logo" src="/img/facebook.png" alt="facebook-logo" />
      </a>
      <a href="https://www.linkedin.com/">
        <img class="logo" src="/img/linkedin.png" alt="linkedin-logo" />
      </a>
      <a href="https://www.instagram.com/">
        <img class="logo" src="/img/instagram.png" alt="instagram-logo" />
      </a>
      <a href="https://twitter.com/">
        <img class="logo" src="/img/twitter.png" alt="twitter-logo" />
      </a>
    </footer>
  </body>
</html>
